body,
html{height:100%;width:100%;padding:0;margin:0}.translucent-relative{position:relative}
.translucent-absolute{position:absolute}.translucent-shadow{box-shadow:#a3a3a3 0 2px 10px 0}
.translucent-title{width:100%;border-bottom:1px solid #fff;box-sizing:border-box;z-index:10}
.translucent-content{width:100%;z-index:10}.translucent-center{text-align:center}
.translucent-move{cursor:move}
.translucent-filter{-webkit-filter:blur(5px);-moz-filter:blur(5px);-ms-filter:blur(5px);filter:blur(5px);
    position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(225,225,225,.5);z-index:2}.translucent-control{width:90px;height:20px;position:absolute;right:0;text-align:right}.translucent-control img{width:16px;height:16px;margin-top:2px}
    .translucent-control img:hover{cursor:pointer}.translucent-control img:nth-child(1){margin-left:8px;margin-right:4px}.translucent-control img:nth-child(2){margin-left:4px;margin-right:4px}
    .translucent-control img:nth-child(3){margin-left:4px;margin-right:8px}.marginCenter{margin:0 auto}